<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCABsN6RUWauCZvF-3TSyKIvdT4HfC2dHU</string>
	<key>GCM_SENDER_ID</key>
	<string>886142281613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.judgingApp</string>
	<key>PROJECT_ID</key>
	<string>judgingapp-449cd</string>
	<key>STORAGE_BUCKET</key>
	<string>judgingapp-449cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886142281613:ios:a8d81991998a4591667fc4</string>
</dict>
</plist>